body{
    align-content: center;
    text-align: center;
    background-color: bisque;
}

picture{
    align-content: center;
}

announcement{
    background-color: hotpink;

}

heading{
    text-align: center;
    background-color: black;
    color: white;
}

welcome{
    background-color:hotpink;
    color: black;
}

marquee{
    background-color: #FFB7C5;
}